<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to "Home", root_path, class:"navbar-item mentor-text", style: "color:black" %>
   
    <div class="navbar-burger burger"  id="nav-toggle" data-target="navbarMenu">
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu navbar-end" id="navbarMenu" >
    <!-- navbar start, navbar end -->
    <div class="navbar-start">
      <div class="navbar-item">
        <%= link_to "Testimonials", testimonials_path, class:"navbar-item", style: "color:black" %>
      </div>
      <div class="navbar-item">
        <%= link_to "Contact Us", contact_us_path, class:"navbar-item", style: "color:black"%>
      </div>
      <div class="navbar-item">
        <%= link_to "Resources", resources_path, class:"navbar-item", style: "color:black"%>
      </div>
    </div>
    <div class="navbar-end">
      <% if current_user %>
        <div class="navbar-item">
          Signed in as&nbsp; <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out", class: "button", style: "color:black" %>
          </div>
      <% else %>
          <div class="navbar-item">
            <%= link_to "Log In", "/auth/google_oauth2", id: "sign_in", class: "button", style: "color:black" %>
          </div>
          <div class="navbar-item">
            <%= link_to "Sign Up", "/auth/google_oauth2", id: "sign_in", class: "button", style: "color:black" %>
          </div>
      <% end %>
   </div>
  </div>
</nav>

<script type="text/javascript">
  document.getElementById("nav-toggle").addEventListener("click", toggleNav);
  function toggleNav() {
  var nav = document.getElementById("navbarMenu");
  var className = nav.getAttribute("class");
  if(className == "navbar-menu") {
  nav.className = "navbar-menu is-active";
  } else {
  nav.className = "navbar-menu";
  }
  }
</script>

