<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    <div class="tile pic-title">
      <%= render 'mainpic' %>
    </div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-9">
        <%= render 'welcome' %>
        <%=	render 'display' %>
      </div>
      <%= render 'features' %>
  </div>
</section>



