<section class="section">
  <div class="container">
    <div class="columns">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
          <div class="tile">
            <div class="tile is-parent">
            <article class="tile is-child notification is-primary">
              <p class="title">Welcome from OID!</p>
              <p class="subtitle">TEXT OID PROVIDES</p>
              <div class="content">
              </div>
            </article>
          </div>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-danger">
              <p class="title">Faculty:</p>
              <p class="subtitle">Aligned with the right tile</p>
              <table style="width:100%">
                <% @profs.each do |prof| %>
                  <tr>
                    <td><%= prof.name %></td>
                    <td><%= prof.email %></td>
                    <td><%= link_to 'Show', prof %></td>
                    <td><%= link_to 'Edit', edit_prof_path(prof) %></td>
                    <td><%= link_to 'Destroy', prof, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </table>
              <div class="content">
              </div>
            </article>
          </div>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <p class="title">Tall tile</p>
              <p class="subtitle">With even more content</p>
              <div class="content">
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<%= link_to 'Sign up', new_prof_path %>
