<div class="container">
  <div class="img">
    <img src="https://bulma.io/images/placeholders/64x64.png" height="230" width="230">
  </div>
  <div class="title">
    <p>
      <strong>Name:</strong>
      <%= @prof.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @prof.email %>
    </p>
  </div>

  <div class="description">
    <p>
      <strong>Interests:</strong>
      <%= @prof.interests %>
    </p>

    <p>
      <strong>Office:</strong>
      <%= @prof.office %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @prof.department %>
    </p>
  </div>
</div>​



<%= link_to 'Edit', edit_prof_path(@prof) %> |
<%= link_to 'Back', profs_path %>
