<div class="container">
  <div class="img">
    <img src="https://bulma.io/images/placeholders/64x64.png">
  </div>

  <div class="header">
      <h1>
        <font size="10">
          HMC-Mentor
        </font>
      </h1>
  </div>

  <div class="basicInfo">
    <p>
      <strong>Name:</strong>
      <%= @prof.name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @prof.email %>
    </p>

    <p>
      <strong>Office:</strong>
      <%= @prof.office %>
    </p>

  </div>

  <div class="description">
    <p>
      <strong>Interests:</strong>
      <%= @prof.interests %>
    </p>

    <p>
      <strong>Department:</strong>
      <%= @prof.department %>
    </p>
  </div>
</div>​







<%= link_to 'Edit', edit_prof_path(@prof) %> |
<%= link_to 'Back', profs_path %>
