

<p id="notice"><%= notice %></p>

<section class="section">
  <div class="container">
    
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile is-parent">
  <article class="tile is-child notification is-warning">
    <p class="title">Here's what past participants have said:</p>
    <div class="content">
      <!-- <article class="media box notification"> -->
      <div class="media-content">
      <% @testimonials.each do |testimonial| %>
        <div class="box">
          <article class="media">
            <div class="media-top">
              
            </div>
            <div class="media-content">
              
              <div class="content">
                <small><%= testimonial.comment %></small><br /> 
                
              </div>

              
            </div> 
          </article>
        </div>
      <% end %>
    </div>
      
    <!-- </article> -->

    </div>

    <%= link_to 'New Testimonial', new_testimonial_path %>







    
  </article>
  
</div>

      </div>
  </div>
</section>











<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= link_to 'Show', testimonial %></td>
        <td><%= link_to 'Edit', edit_testimonial_path(testimonial) %></td>
        <td><%= link_to 'Destroy', testimonial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


