<div class="container">
  <p class="title">
   Submit Resources here!
  </p>
  <%= form_with(model: resource, local: true) do |form| %>
    <% if resource.errors.any? %>
    <div id="error_explanation">
    <h2>
      <%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:
    </h2>

    <ul>
      <% resource.errors.full_messages.each do |message| %>
      <li class="help is-danger">
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="tile is-ancestor">
    <div class="tile is-12 is-parent">
      <div class="tile is-child">
        <div class="field">
          <div class="control">
            <div class="field">
					<%= form.text_field :name, class: "input is-warning", placeholder: "Resource Name"%>
		    </div>
          </div>
        </div>
        <div class="control">
          <div class="field">
            <%= form.text_area :description, class: "textarea is-warning", placeholder: "Description"%>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="actions">
  <%= form.submit "Send", class:"button is-link"%>
  </div>
  <% end %>
</div>
