<div class="container">
  <p class="title">
   Contact us here or by emailing OID directly!
  </p>
  <%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
    <h2>
      <%= pluralize(feedback.errors.count, "error") %> prohibited this department from being saved:
    </h2>

    <ul>
      <% feedback.errors.full_messages.each do |message| %>
      <li class="help is-danger">
        <%= message %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="tile is-ancestor">
    <div class="tile is-12 is-parent">
      <div class="tile is-child">
        <div class="field">
          <%= form.text_area :content, class: "textarea is-warning", placeholder: "Message"%>
          </div>
      </div>
    </div>
  </div>
   
  <div class="actions">
  <%= form.submit "Send Feedback", class:"button is-link"%>
  </div>
  <% end %>
</div>
